<div>
    {% let checked = todo.status == Status::Done -%}
    <form hx-put="/todo/{{todo.id}}" hx-target="#todos" hx-trigger="changed from:#todo-{{todo.id}}, change">
        <input type="checkbox" name="completed" id="todo-{{todo.id}}" {% if checked %}checked{% endif %} />
        <label for="todo-{{todo.id}}" class="{% if checked %}checked{% endif %}">
            {{ todo.name }}
        </label>
        <a href="#" hx-delete="/todo/{{todo.id}}" hx-target="#todos" class="delete"><i class="fa fa-trash-o"></i></a>
    </form>
</div>
