name: Clippy check
on:
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run Tests
        run: |
          cargo clippy
          cd examples/todo
          cargo clippy
